body {
  vertical-align: middle;
  border-style: none;
  background-image: url("../../assets/img/firstbg.jpg");
  background-repeat: no-repeat;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}
